modules = ["nodejs-20", "web"]
run = "npm run dev"

[nix]
channel = "stable-24_05"

[deployment]
deploymentTarget = "static"
publicDir = "dist"
run = ["sh", "-c", "npx serve dist -s"]
build = ["sh", "-c", "node static-build.js"]

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5001
externalPort = 3000

[workflows]
runButton = "Start Website"

[[workflows.workflow]]
name = "Start Website"
author = 43067160
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
